<header class="text-center mt-3">
  <h1>{{ title }}</h1>
</header>
<nav class="row bg-dark p-2">
  <a routerLink="view" class="nav-link ml-4 text-red">Display All Shows</a>
  <a routerLink="add" class="nav-link ml-4 text-red">Add Shows</a>
</nav>
<hr />
<router-outlet></router-outlet>

<!-- <header class="text-center mt-3">
  <div class="col-lg-12 text-warning" style="text-align: center">
    <marquee direction="right">
          <h2 class="text center" style="margin:20px">
                <h1 style="color:whitesmoke">Welcome to Online Movie Ticket System!
                </h1>
          </h2>
    </marquee>
</div>
  <h1>{{title}}</h1>
</header>
<nav class=" row bg-dark p-2">
  <a routerLink="view" class="nav-link ml-4 text-red">Display All Shows  </a>
  <a routerLink="add" class="nav-link text-white">Add Shows</a>
</nav>
<hr/>
<router-outlet></router-outlet> -->